<!DOCTYPE html>
<html>
  <head>
    <title>Word Definer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Word Definer</h1>
        <p class="lead">This website allows you to enter words into a master list. It also allows you to add multiple definitions to the words that you add, as well as an image URL.</p>
        <hr class="my-4">
        <p>This web app accomplishes this functionality through the use of the Sinatra Web Server and a collection of assorted ruby gems.</p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
