<br>
<div class="row">

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add New Words</h5>
        <h6 class="card-subtitle mb-2 text-muted">Enter a word and a definition to be added to the list.</h6>
        <form action="/" method="post">
          <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Add New Word">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="definition" placeholder="Definition">
          </div>
          <button type="submit" class="btn btn-primary" name="button">Add Word to List</button>
        </form>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="card-subtitle">Current Word List</h5>
          <br>
          <form action="/search" method="get">
            <div class="form-group">
              <input class="form-control" type="text" name="search" placeholder="Search List">
            </div>
            <button type="submit" class="btn btn-primary" name="button">Search List</button>
          </form>
        </li>
      </ul>
      </div>
  </div>

  <% if @list.length > 0 %>

    <div class="col-9">
      <div class="card">
        <a class="btn btn-primary" href="/"><< Back to Individual List View</a>
        <ul class="list-group list-group-flush">

          <% for each in @list %>

            <li class="list-group-item">
              <div class="card-body">
                <h5 class="card-title"><%= each.name.titlecase %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Definitions</h6>
                <p class="card-text">
                  <ul>
                    <% each.definitions.each do |i| %>
                    <li><%= i %></li>
                    <% end %>
                  </ul>
                </p>
                <form action="/word/<%= each.id %>" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" name="add_definition" placeholder="Add Definition">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="image_link" placeholder="(Optional) Copy/Paste Image URL here">
                  </div>
                  <button type="submit" class="btn btn-primary" name="button">Update Word</button>
                </form>
              </div>
            </li>
          <% end %>
        </ul>

      </div>
    </div>

  <% end %>
